body{
    background-image: url('../public/back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
    height: auto;   
    align-items: center;
    display: flex;
    justify-content: center;
}